{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'myapp/images/favicon.ico' %}">
<title>Tourism-welcom to visit tourism.com</title>
<!-- Bootstrap core CSS -->
<link href="{% static 'myapp/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Fonts -->	
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'myapp/css/main.css' %}">
<link href="{% static 'myapp/css/mediumish.css' %}" rel="stylesheet">
</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container w-75 mx-auto">
	<!-- Begin Logo -->
	<a class="navbar-brand" style="font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bolder;font-size: 30px;" href="{% url 'home' %}">
	
		<!-- <img src="{% static 'myapp/images/logo.png' %}" alt="logo"> -->
	<span style="color:darkcyan;font-size: 35px;font-style: italic;" > TB</span>-Tourism Blog
	</a>
	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			<a class="nav-link" href="{% url 'blogs' %}">Blog <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{% url 'addrapist' %}">Post</a>
			</li>
			
			{% if user.is_authenticated%}
			
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">logout</a>
			</li>

			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'register' %}">Register</a>
			</li>
			{% endif%}
		</ul>
		<!-- End Menu -->
		<!-- Begin Search -->
		<form class="form-inline my-2 my-lg-0" method="get">
			{% csrf_token%}
			<input class="form-control mr-sm-2" type="text" placeholder="Search" name='s'>
			<span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
		</form>
		<!-- End Search -->
	</div>
</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<div class="w-75 mx-auto mt-3">
	<!-- <div class="mainheading">
		<h1 class="sitetitle">Visit All Over The World</h1>
		<p class="lead">
			Tourism is the best Advanture	
		</p>
	</div> -->

	
    {% block content%}

    {% endblock %}

    {% block footer%}
    <div class="footer">
		<p class="pull-center">
			 Copyright &copy; 2021 icortex
		</p>
		
		<div class="clearfix">
		</div>
	</div>
    {% endblock footer%}

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'myapp/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'myapp/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
